<nav class="bg-white border-gray-200 dark:bg-gray-900">
  <div class="p-4 mx-auto flex w-11/12 items-center justify-between">
    <a class="space-x-3 flex items-center rtl:space-x-reverse" routerLink="/home">
        <span class="self-center whitespace-nowrap text-2xl font-semibold dark:text-white">ShipHive</span>
    </a>
   
    <div class=" md:w-auto" id="navbar-default">
      <ul class="font-medium flex gap-5">
          <a  routerLink="/contact-us" class="text-white  mt-1 md:hover:bg-transparent md:hover:text-blue-500 ">Contact Us</a>
          <a  routerLink="/profile" class="text-white hover:text-slate-200">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
              <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
            </svg>
          </a>
      </ul>
    </div>
  </div>
</nav>
