<div class="flex h-screen flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm flex flex-col justify-center items-center">
    <img src="../../../assets/logo/shipHive-small.png" width="200px" height="200px">
    <h2 class="mt-4 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Sign in to your account</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form class="space-y-6" [formGroup]="signInForm">
      <div>
        <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email address</label>
        <div class="mt-2">
          <input id="email"
                 type="email"
                 name="email"
                 autocomplete="email"
                 [ngClass]="{'ring-red-500': signInForm.get('email')?.invalid && (signInForm.get('email')?.touched || signInForm.get('email')?.dirty)}"
                 formControlName="email"
                 class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          <span class="text-red-500" *ngIf="signInForm.get('email')?.errors?.['email'] && signInForm.get('email')?.touched">Invalid Email Address</span>
        </div>
      </div>

      <div>
        <div class="flex items-center justify-between">
          <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
          <div class="text-sm">
            <a href="#" class="font-semibold" id="a-forgot-password">Forgot password?</a>
          </div>
        </div>
        <div class="mt-2">
          <input id="password"
                 type="password"
                 [ngClass]="{'ring-red-500': signInForm.get('password')?.invalid && (signInForm.get('password')?.touched || signInForm.get('password')?.dirty)}"
                 autocomplete="current-password"
                 formControlName="password"
                 class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">

        </div>
      </div>

      <div>
        <button (click)="onSubmit()"
                type="submit"
                class="flex w-full justify-center rounded-md bg-blue-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                id="btn-signIn">
          Sign in
        </button>
      </div>
    </form>

    <p class="mt-10 text-center text-sm">
      Not a member?
      <a
         routerLink="/sign-up"
         id="a-sign-up"
         class="font-semibold leading-6">
        Sign Up
      </a>
    </p>
  </div>
</div>
